extend layout

block content
  div(class='dashboard-container')

    h1 DASHBOARD

    div(class='user-privilege-container')
      div
        p Member:
        if (currentUser.memberStatus)
          img(src="images/check-mark.svg", alt="check mark")
        else
          img(src="images/cancel-mark.svg", alt="cancel mark")
      div
        p Admin:
        if (currentUser.isAdmin)
          img(src="images/check-mark.svg", alt="check mark")
        else
          img(src="images/cancel-mark.svg", alt="cancel mark")

    div(class='dashboard-form-messages-container')
      div(class='dashboard-form-container')
        form(action="" method='post')
          div
            label(for="title") Title:
            input(type="text" id='title' name='title' minLength='1' maxLength='30' required)
          div
            label(for="message") Message:
            textarea(name="message" cols="30" rows="10" minLength='1' required)

          button(type="submit") Create A New Message

      div(class='dashboard-messages-container')
        each message in userMessages 
          div(class='dashboard-message')
            div
              h2 Author: #{currentUser.username}
              p(class='dashboard-message-date') Date: #{message.timestamp}
            div
              h2(class='dashboard-message-title') Title: #{message.title}
            div
              p #{message.text}
            a(href=`/delete-message/${message._id}?fromPage=dashboard` class='dashboard-delete-message-container') 
              p Delete
              img(src="images/trash-can.svg", alt="trash can")
