extends layout

block content
  div(class='home-container')
      div(class='form-container')
        if (currentUser)

          form(action="" method='post')
            div 
              label(for="title") Title:
              input(type="text" id='title' name='title' minLength='1' maxLength='30' required)
            div 
              label(for="message") Message:
              textarea(name="message" cols="30" rows="6" minLength='1' required)

            button(type="submit") Create a new message

        else
          a(href="/sign-in" class='login-link') Click here to log-in and write a message!

      div(class='messages-container')
        each message in messages 
          div(class='message')
            if(currentUser && currentUser.memberStatus || currentUser && currentUser.isAdmin || currentUser && currentUser.id === message.userId)
              div
                h2 Author: #{message.author}
                p(class='message-date') Date: #{message.timestamp}
            div
              h2(class='message-title') Title: #{message.title}
            div
              p #{message.text}
            if(currentUser && currentUser.isAdmin || currentUser && currentUser.id === message.userId)
              a(href=`/delete-message/${message._id}?fromPage=home` class='delete-message-container') 
                p Delete
                img(src="images/trash-can.svg", alt="trash can")
