extends layout

block content
  div
    if (currentUser)

      form(action="" method='post')
      
        label(for="title") Title:
        input(type="text" id='title' name='title' minLength='1' maxLength='30' pattern="[a-zA-Z0-9]+" required)

        label(for="message") Message:
        textarea(name="message" cols="30" rows="10" minLength='1' required)

        button(type="submit") Create A New Message

    else
      a(href="/sign-in") Log In to be able to write a message

    div
      each message in messages 
        div
          if(currentUser && currentUser.memberStatus)
            div
              h2 Author: #{currentUser.username}
              p Date: #{message.timestamp}
          div
            h2 Title: #{message.title}
          div
            p #{message.text}
        if(currentUser && currentUser.isAdmin || currentUser && currentUser.id === message.userId)
          a(href=`/delete-message/${message._id}?fromPage=home`) Delete
